@charset "utf-8";

ul{
    list-style: none;
}
a {
    text-decoration: none;
    color: #23211a;
}
body {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 80px auto;
    font-family: Tahoma, 돋움, dotum, "Nanum Gothic", sans-serif;
}
.reserve-container {
    display: flex;
    justify-content: center;
    height: 665px;
    margin: 0 auto;
}
.reserve-container>div {
    border: 1px solid #d1d0c7;
}
.reserve-title {
    background-color: #333333;
    text-align: center;
    color: #e7e7e7;
    height: 25px;
    line-height: 25px;
    font-weight: bold;
    font-size: 13px;
}
.movie-reserve {
    background-color: #FDFCF0;
    width: 284px;
}
.sort-wrapper {
    margin: 10px 6px 6px 10px;
    display: flex;
    font-size: 12px;
    border-bottom: 1px solid #dddddd;
}
.sort-wrapper>div {
    padding: 3px;
}
.sort-wrapper>div:hover {
    border-bottom: 1px solid #222222;
    font-weight: bold;
}
.sort-selected {
    font-weight: bold;
    border-bottom: 1px solid #222222;
}
.sort-korean {
    margin-left: 6px;
}
.movie-list li {
    margin-left: -30px;
    padding-bottom: 5px;
}
.movie-list .all {
    display: inline-block;
    background-image: url(../img/icons/cinema/icon_ratings2.png);
    background-position-x: 5px;
    background-position-y: 6px;
    width: 32px;
    height: 30px;
    line-height: 30px;
    margin-bottom: -10px;
}
.movie-list .twelve {
    display: inline-block;
    background-image: url(../img/icons/cinema/icon_ratings2.png);
    background-position-x: 5px;
    background-position-y: -29px;
    width: 32px;
    height: 30px;
    line-height: 30px;
    margin-bottom: -10px;
}
.movie-list .fifteen {
    display: inline-block;
    background-image: url(../img/icons/cinema/icon_ratings2.png);
    background-position-x: 5px;
    background-position-y: -64px;
    width: 32px;
    height: 30px;
    line-height: 30px;
    margin-bottom: -10px;
}
.movie-list .movieName {
    color: rgb(51, 51, 51);
    cursor: auto;
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    height: 100%;
    line-height: 30px;
    padding-right: 5px;
    text-align: left;
    white-space: nowrap;
    width: auto;
    cursor: pointer;
}
#movieOn {
    background-color: #444444;
}
.frozenOn {
    background-image: url(../resource/img/poster/frozen.jpg);
}
.theDarkKnight {
    background-image: url(../resource/img/poster/theDarkKnight.jpg) none;
}


.theater-reserve {
    background-color: #FDFCF0;
    width: 264px;
    overflow: hidden;
    position: relative;
}
.hall-theater {
    padding: 10px;
}
.theater-form {
    display: flex;
}
.hall-theater .localName {
    position: absolute;
    top: 10px;
    left: -13px;
    margin-top: 50px;
    z-index: 1;
}
.theater-list .localName li button {
    width: 100px;
    height: 30px;
    text-align: right;
    font-size: 11px;
    font-weight: bold;
    background-color: #e6e4d9;
    cursor: pointer;
    border: 0px;
    margin-bottom: 1px;
    padding-right: 10px;
}
.theater-list .localName li .first_button {
    background-color: #FDFCF0;
}
.theater-list .localName li .last_button {
    font-size: 10px;
}
#theaterOn {
    background-color: #FDFCF0;
}
.hall-theater .localName .theaterOff {
    background-color: #e6e4d9;
}
.hall-theater .localTheater .theater_button ul{
    position: absolute;
    top: 60px;
    right: 15px;
    overflow: scroll;
    overflow-x: hidden;
    display: none;
    height: 700px;
}
.hall-theater .localTheater .theater_button .theater_seoul {
    display: block;
}
.localTheater .theater_button .buttonCommon {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 10px;
}
.localTheater .theater_button .buttonOn {
    background-color: #333333;
    border: 1px solid #565656;
    padding: 5px;
}
.hall-theater .localTheater ul {
    height: 465px;
}
.hall-theater .localTheater li button{
    width: 110px;
    height: 30px;
    text-align: left;
    font-size: 12px;
    font-weight: bold;
    background-color: #FDFCF0;
    cursor: pointer;
    border: 0px;
    margin-bottom: 1px;
}
#theaterButtonOn {
   color: white;
   background-color: #444444; 
}

.date-reserve {
    background-color: #FDFCF0;
    width: 91px;
    overflow: hidden;
}
.date-list .hallDate {
    height: 700px;
    overflow: scroll;
    overflow-x: hidden;
}
.date-list .hallDate .year {
    display: block;
    font-size: 13px;
    text-align: center;
    color: #666666;
    margin-top: 14px;
}
.date-list .hallDate .month {
    display: block;
    font-size: 24px;
    text-align: center;
    color: #666666;
    margin-bottom: 14px;
}
.date-list .date {
    margin: auto 0;
}
.monthCommon a {
    display: inline-block;
    text-align: center;
    color: #0f2038;
    background-color: #FDFCF0;
    border: 0px;
    width: 100%;
    height: 30px;
    line-height: 30px;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}
.monthCommon .dayweek {
    margin-right: 10px;
}
.monthCommon .sun {
    color: #a51214;
}
.monthCommon .sat {
    color: #1a4972;
}
#dateButtonOn {
    background-color: #444444;
    color: #e7e7e7;
}

.time-reserve {
    background-color: #FDFCF0;
    width: 384px;
}
.time-reserve .timeButtonList .theaterInfo {
    margin-top: 20px;
    margin-left: 50px;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
}
.time-reserve .timeButtonList .theaterInfo .name{
    color: #a95652;
}
.time-reserve .timeButtonList .theaterInfo .floor{
    color: #222222;
}
.time-reserve .timeButtonList>span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    color: #5b5b5b;
    font-size: 13px;
}
.time-reserve .timeButtonList .theaterTime {
    display: none;
}
.time-reserve .timeButtonList ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 60px;
    margin-left: 13px;
    height: 70px;
    margin-bottom:30px;
}
.time-reserve .timeButtonList ul li {
	margin-bottom: 20px;
}
.time-reserve .timeButtonList ul a .time {
    border: 1px solid #cacaca;
    color: #222222;
    padding: 3px;
    font-size: 14px;
    font-weight: bold;
}
.time-reserve .timeButtonList ul a .remain-seat {
    color: #5e998b;
    font-size: 14px;
}
#timeOn {
    color: white;
    background-color: #444444; 
}

/* ---------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.select-seat-wrapper {
    display: none;
    border: 1px solid #e2e0d4;
    position: relative;
    width: 1025px;
    margin: 0 auto;
}
.seat-title {
    border: 1px solid #e2e0d4;
    background-color: #333333;
    width: 100%;
    height: 26px;
    line-height: 26px;
    color: #c8c8c8;
    text-align: center;
}
.reset {
    width: 80px; 
    position: absolute;
    right: 13px;
    border: none;
    background-color: #333333;
    color: #c8c8c8;
    background: url(http://img.cgv.co.kr/CGV_RIA/Ticket/image/reservation/step3/step_refresh_btn.png) no-repeat 100% 60%;
    padding-right: 17px;
    cursor: pointer;
}

.people-movie {
    display: flex;
    justify-content: space-around;
    background-color: #f2f0e4;
    height: 135px;
    border: 1px solid #e2e0d4;
}

.select-people {
    margin-top: 10px;
    margin-right: 150px;
}
.select-people .age {
    display: flex;
    margin-bottom: 8px;
}
.select-people #clicked {
    background-color: #303232;
    color: white;
}
.select-people #clicked  #text-clicked{
    color: white;
}
.select-people .title {
    height: 22px;
    line-height: 22px;
    font-size: 13px;
    margin-right: 30px;
}
.select-people ul {
    margin: 0;
    padding: 0;
    float: left;
    display: flex;
}

.select-people li {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border: 1px solid #d6d3ce;
    margin-right: 5px;
    color: #333;
}
.movie-info {
    margin-top: 30px;
    margin-right: 200px;
}
.movie-flex {
    display: flex;
    margin-bottom: 5px;
    font-size: 14px;
}
.movie-location {
    margin-right: 10px;
}
.movie-place {
    margin-right: 10px;
}
.movie-time {
    font-size: 22px;
}
.select-seat {
    position: relative;
}

.seat {
    width: 30px;
    height: 30px;
    background-color: #a4a4a2;
    border: 1px solid #d6d3ce;
    color: white;
    cursor: pointer;
}
.seat:hover {
    background-color: red;
}
.clicked {
    background-color: red;
    color: white;
}
.screen {
    height: 25px;
    line-height: 25px;
    margin: 0 auto;
    text-align: center;
    background: url(http://img.cgv.co.kr/CGV_RIA/Ticket/image/reservation/step2/screen_bg.png) repeat-x left;
}
.screen .text {
    width: 57px;
    height: 25px;
    display: inline-block;
    zoom: 1;
    background: url(http://img.cgv.co.kr/CGV_RIA/Ticket/image/reservation/step2/screen_text.png) no-repeat;
}
.select-seat {
    background-color: #f2f0e4;
    width: 100%;
    height: 350px;
}
.seat-wrapper {
    position: absolute;
    top: 37px;
    left: 50%;
    margin-left: -150px;
}

/* -------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.select-container {
    width: 100%;
    margin: 0 auto;
}
.select_wrap {
    position: relative;
    width: 100%;
    height: 140px;
    background-color: #1d1d1c;
    margin: 0 auto;
}
.select_wrap .select_movie {
    background-image: url(http://img.cgv.co.kr/CGV_RIA/Ticket/image/reservation/tnb/tnb_steps.png);
    margin-left: 23px;
    zoom: 1;
    background-repeat: no-repeat;
    width: 111px;
    height: 100px;
    position: absolute;
    top: 55px;
    left: 590px;
}
.select_wrap .select_theater {
    background-image: url(http://img.cgv.co.kr/CGV_RIA/Ticket/image/reservation/tnb/tnb_steps.png);
    background-position-x: 50%;
    background-position-y: -68px;
    margin-left: 23px;
    width: 111px;
    height: 100px;
    position: absolute;
    top: 15px;
    left: 790px;
}
.select_wrap .select_seat {
    background-image: url(http://img.cgv.co.kr/CGV_RIA/Ticket/image/reservation/tnb/tnb_steps.png);
    background-position-x: 50%;
    background-position-y: -190px;
    width: 111px;
    height: 100px;
    position: absolute;
    top: 29px;
    left: 990px;
}
.select_wrap .select_pay {
    background-image: url(http://img.cgv.co.kr/CGV_RIA/Ticket/image/reservation/tnb/tnb_steps.png);
    background-position-x: 50%;
    background-position-y: -298px;
    width: 71px;
    height: 100px;
    position: absolute;
    top: 29px;
    left: 1190px;
}
.selected_wrap {
    width: 160px;
    display: none;
    position: absolute;
    /* 605 */
    top: 830px;
    left: 820px;
    color: #e7e7e7;
    font-size: 13px;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.selected_wrap>span {
    display: block;
    margin-bottom: 10px;
}
.selected_movie {
    position: absolute;
    /* 595 */
    top: 825px;
    left: 620px;
}
.selected_movie .movie_img {
    display: none;
    background-size: cover;
    width: 90px;
    height: 125px;
}
.selected_movie .movie_text {
    width: 100px;
    position: absolute;
    top: 10px;
    left: 100px;
    color: #e7e7e7;
    font-size: 12px;
    font-weight: bold;
}
.selected_movie .movie_kind {
    width: 100px;
    position: absolute;
    top: 68px;
    left: 100px;
    color: #e7e7e7;
    font-size: 12px;
    font-weight: bold;
}
.selected_movie .movie_text_age{
    width: 100px;
    position: absolute;
    top: 88px;
    left: 100px;
    color: #e7e7e7;
    font-size: 12px;
    font-weight: bold;
}
.selected_wrap .local_text {
    /* display: block; */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.selected_wrap .date_text {
    font-size: 11px;
}
.selected_seat {
    display: none;
    position: absolute;
    top: 678px;
    left: 1000px;
    color: #e7e7e7;
    font-size: 12px;
    font-weight: bold;
}
.selected_seat .seatName{
    display: flex;
}
.selected_seat .seat-name {
    margin-bottom: 10px;
    margin-right: 20px;
}
.selected_seat .seatNum {
    display: flex;
}
.selected_seat .seat-num {
    margin-right: 13px;
}
.seatNum {
    width: 150px;
}
.selected_seat .select-seat-num {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.changePage .btn_movie {
    display: none;
    position: absolute;
    top: 680px; 
    left: 470px;
    background-image: url(http://img.cgv.co.kr/CGV_RIA/Ticket/image/reservation/tnb/tnb_buttons.png);
    background-position-x: 0px;
    background-position-y: 0px;
    width: 106px;
    height: 108px;
    cursor: pointer;
}
.changePage .btn_seat_pay {
    position: absolute;
    top: 830px; 
    right: 460px;
    background-image: url(http://img.cgv.co.kr/CGV_RIA/Ticket/image/reservation/tnb/tnb_buttons.png);
    background-position-x: 0px;
    background-position-y: -220px;
    width: 106px;
    height: 108px;
    cursor: pointer;
}