@charset "utf-8";

  #login_wrap {
      width: 980px;
      margin: 13% auto;
  }
  
  .login_title{
     width: 120px;
     font-size: 40px;
     border-bottom: 3px solid #d83030;
     margin-left : 200px;
     margin-bottom: 20px;
  }

  #login {
      background-color: #f8f8f8;
      width: 600px;
      height: 450px;
      margin: auto;
      border: 1px solid rgb(199, 198, 198);

  }

  #login .userInfo label{
      margin-left: 15%;
  }

  #login .userInfo {
      margin-top: 70px;
      margin-bottom: 40px;
  }

  #login .userInfo input{
      width: 400px;
      height: 50px;
      margin-top: 5px;
      margin-bottom: 25px;
      cursor: pointer;
      background-color: white;
      border: 1px solid #ccc;
      padding-left : 15px;
  }

  #login button{
      width: 420px;
      height: 50px;
      border: none;
      background-color: #ff2841;
      margin-top: 40px;
      font-size: 18px;
      font-weight: 500;
      color: white;
      cursor: pointer;
      margin-left: 15%;
      
  }

  #login button:hover{
      background-color: #d51a30;
  }

  #login #checkbox {
      width: 15px;
      height: 15px;
      border: 2px solid rgb(105, 55, 55);
      font-size: 10px;
  }

  .circle {
      display: inline-block; 
      width: 15px; height: 15px;
      border: 1px solid #888;
      box-sizing: border-box;
      border-radius: 10px; 
      position: relative; top: 4px;
      cursor: pointer;
      margin-left: 50px;
  }
  
  .circle:after {
      content: '\2714'; 
      font-size: 20px; color: #888;
      position: absolute; top: -14px; left: 0;

      opacity: 0; 
      transition: 0.2s; 
  }

  #chk:checked + .circle:after { 
      opacity: 1; 
  }

  #chk { 
      position: absolute; left: -999em;
  }